<ion-toolbar>
  <ion-tabs>
      <ion-tab-bar slot="bottom" color="primary">
        <ion-tab-button routerLink="/inicio">
          <ion-icon name="home-outline"></ion-icon>
          <ion-label>Home</ion-label>
        </ion-tab-button>
    
        <ion-tab-button routerLink="/menu">
          <ion-icon name="restaurant-outline"></ion-icon>
          <ion-label>Menú</ion-label>
        </ion-tab-button>
    
        <ion-tab-button routerLink="/perfil">
          <ion-icon name="person"></ion-icon>
          <ion-label>Perfil</ion-label>
        </ion-tab-button>
    
       
      </ion-tab-bar>
    </ion-tabs>
</ion-toolbar>
