<ion-header>
    <!--Toolbar-->
    <ion-toolbar color="primary">
        
        <ion-title>Menu</ion-title>
    </ion-toolbar>
    <!--Segment-->
    <ion-segment (ionChange)="segmentChanged($event)">
        <ion-segment-button *ngFor='let tipo of tipoProducto | async'>
            <ion-label>{{tipo.nombre}}</ion-label>
        </ion-segment-button>
    </ion-segment>

</ion-header>

<ion-content class="ion-padding">

<div class="contenedor" id="principal">
    <!--Buscador-->
    <div class="contenedor" id="buscador">
        <ion-searchbar 
        placeholder="Buscar plato"
        inputmode="text"
        animated
        (ionChange)='buscar( $event )'
        [debounce]='250'
        ></ion-searchbar>
    </div>    
    <!--Menu-->
    <div class="contendor" 
        id="menu"
        *ngFor="let principal of alimentos | async | filtro:textoBuscar:'nombre' " routerLink="/menu/info/{{principal.idproducto}}">
            <ion-card (click)="mostrarData(principal.idproducto)">
                <ion-card-header>
                    <img src='{{principal.imagen}}'>
                    <ion-card-title>{{principal.nombre}}</ion-card-title>
                    <ion-card-subtitle>{{principal.descripcion}}</ion-card-subtitle>
                    <ion-card-subtitle>${{principal.precio}}</ion-card-subtitle>
                </ion-card-header>
            </ion-card>
    </div>
    
</div>
<ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button>
        <ion-icon name="cart"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
<ion-footer>
    <ion-toolbar>
        <ion-tabs>
            <ion-tab-bar slot="bottom" color="primary">
              <ion-tab-button routerLink="/inicio">
                <ion-icon name="home-outline"></ion-icon>
                <ion-label>Home</ion-label>
              </ion-tab-button>
          
              <ion-tab-button routerLink="/menu">
                <ion-icon name="restaurant-outline"></ion-icon>
                <ion-label>Menú</ion-label>
              </ion-tab-button>
          
              <ion-tab-button routerLink="/perfil">
                <ion-icon name="person"></ion-icon>
                <ion-label>Perfil</ion-label>
              </ion-tab-button>
          
             
            </ion-tab-bar>
          </ion-tabs>
    </ion-toolbar>
</ion-footer>