<app-header-menu titulo='inicio'></app-header-menu>

<ion-content class="ion-padding">
<div class="contenedor">
    <div class="contenedor" id="slides">
        <ion-slides mode="ios" pager="ios" [options]="slideOptsOne" >
            <ion-slide *ngFor="let o of ofertas | async">
                <ion-card>
                    <ion-card-header>
                        <img class="imagen" src='{{o.imagen}}'>
                        <ion-card-title>{{o.nombre}}</ion-card-title>
                        <ion-card-subtitle>{{o.descripcion}}</ion-card-subtitle>
                        <ion-card-subtitle>${{o.precio}}</ion-card-subtitle>
                    </ion-card-header>
                </ion-card>
            </ion-slide>
        </ion-slides>
    </div>

</div>

</ion-content>

<ion-footer class="ion-padding">
<p> Siguenos en: <a href="https://www.facebook.com/ROUPARRILLA/?locale2=es_LA"><ion-icon name="logo-facebook"></ion-icon></a></p>
</ion-footer>