<app-header-menu titulo='inicio'></app-header-menu>

<ion-content class="ion-padding">
<div class="contenedor">
    <div class="contenedor" id="slides">
        <ion-slides mode="ios" pager="ios" [options]="slideOptsOne" >
            <ion-slide>
                <ion-card>
                    <ion-card-content>
                    <ion-img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"></ion-img>
                    <h2> Titulo</h2>
                    <h4>Precio</h4>
                    </ion-card-content>
                </ion-card>
            </ion-slide>

            <ion-slide>
                <ion-card>
                    <ion-card-content>
                    <ion-img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"></ion-img>
                    <h2> Titulo</h2>
                    <h4>Precio</h4>
                    </ion-card-content>
                </ion-card>
            </ion-slide>

            <ion-slide>
                <ion-card>
                    <ion-card-content>
                    <ion-img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"></ion-img>
                    <h2> Titulo</h2>
                    <h4>Precio</h4>
                    </ion-card-content>
                </ion-card>
            </ion-slide>

        </ion-slides>
    </div>
</div>

</ion-content>
